<div>
  <h4><%= page_name %></h4>
  <p>Paid for by <%= ad.funding_entity %></p>
  <p><%= ad.ad_creative_body %></p>
  <p style="color: grey">see ad image/video on <a href="https://www.facebook.com/ads/library/?id=<%= ad.archive_id %>">Facebook</a></p>
  <p><%= ad.ad_creative_link_title %></p>
  <p><%= ad.ad_creative_link_description %></p>
  <p><%= ad.ad_creative_link_caption %></p>
</div>