<h1><a href="/">Quartz Political Facebook Ads Dashboard</a></h1>

<p>We have <strong><%= @ads_count.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></strong> ads and <strong><%= @fbpac_ads_count.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></strong> from FBPAC.</p>

<div>Last updated: </div>
<% if @big_spenders.size > 0 %>
<div><a href="/bigspenders">Big spenders</a> from <%= AdArchiveReport.find(@big_spenders.first.previous_ad_archive_report_id)&.scrape_date %> and <%= @big_spenders.first&.ad_archive_report&.scrape_date %>.</div>
<% end %>

<div id="top-pages-panel">

	<div>
		<h3>Top Advertisers (of all time)</h3>
		<table>
			<thead style="font-weight: bold"><td width="40%">Advertiser</td><td>Spend since <%= AdArchiveReport.starting_point.scrape_date.to_date %></td><td></td><td></td></thead>
			<% @top_advertisers.each do |page_id, page_name, amount_spent| %>
				<tr>
					<td><%= page_name %></td>
					<td>$<%= amount_spent.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> </td>
					<td><a href="https://www.facebook.com/ads/library/?active_status=all&ad_type=political_and_issue_ads&country=US&impression_search_field=has_impressions_lifetime&q=<%= page_name %>">FB ads</a></td>
					<td><a href="/pages/<%= page_id %>.json">advertiser overview</a></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div>
		<h3>Top Payers (of all time)</h3>
		<table>
			<thead style="font-weight: bold"><td width="40%">Payer</td><td>Spend since <%= AdArchiveReport::START_DATE %></td><td></td><td></td></thead>
			<% @top_disclaimers.each do |payer_id, disc, sum| %>
				<tr><td><%= disc == disc.upcase ? disc.titleize : disc %></td>
					<td>$<%= sum.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></td>
				<td><a href="https://www.facebook.com/ads/library/?active_status=all&ad_type=political_and_issue_ads&country=US&impression_search_field=has_impressions_lifetime&q=#{disc}&disclaimer_texts[0]=<%= disc %>">FB ads</a></td>
				<td><a href="/payers/<%= payer_id %>.json">payer overview</a></td></tr>
			<% end %>
		</table>
	</div>

	<div>
		<h3>tools that will eventually exist</h3>
		<ul>
			<li><a href="/interim/youtube/">interim YouTube ad dashboard</a></li>
			<li><a href="/ads/search.json?&no_payer=true">political ads without a 'Paid for by' disclaimer</a></li>
		</ul>

		<h4>*New* this week</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by?time_unit=week&time_count=1&first_seen=1">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser?time_unit=week&time_count=1&first_seen=1">Advertisers</a></li>
			<li><a href="/ads/pivot/segments?time_unit=week&time_count=1&first_seen=1">Targeting segments</a></li>
		</ul>

		<h4>*New* the past three months</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by?time_unit=month&time_count=3&first_seen=1">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser?time_unit=month&time_count=3&first_seen=1">Advertisers</a></li>
			<li><a href="/ads/pivot/segments?time_unit=month&time_count=3&first_seen=1">Targeting segments</a></li>
		</ul>

		<h4>Seen this week</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by?time_unit=week&time_count=1">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser?time_unit=week&time_count=1">Advertisers</a></li>
			<li><a href="/ads/pivot/segments?time_unit=week&time_count=1">Targeting segments</a></li>
		</ul>

		<h4>Seen the past three months</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by?time_unit=month&time_count=3">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser?time_unit=month&time_count=3">Advertisers</a></li>
			<li><a href="/ads/pivot/segments?time_unit=month&time_count=3">Targeting segments</a></li>
		</ul>

		<h4>Seen since 11/17/2019</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by?time_unit=electioncycle&time_count=1">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser?time_unit=electioncycle&time_count=1">Advertisers</a></li>
			<li><a href="/ads/pivot/segments?time_unit=electioncycle&time_count=1">Targeting segments</a></li>
		</ul>

		<h4>Seen ever</h4>
		<ul>
			<li><a href="/ads/pivot/paid_for_by">Paid for by</a></li>
			<li><a href="/ads/pivot/advertiser">Advertisers</a></li>
			<li><a href="/ads/pivot/segments">Targeting segments</a></li>
		</ul>

	</div>
</div>