
<h1> Big Spenders </h1>

<p>pages that have spent a lot of money between <%= AdArchiveReport.find(@big_spenders.first.previous_ad_archive_report_id).scrape_date %> and <%= @big_spenders.first.ad_archive_report.scrape_date %>. </p>

<p><b>How to use this page</b>: Check out these advertisers and see if any of them look weird.</p>

<% @big_spenders.each do |big_spender| %>

	<div>
		<h3><%= big_spender.is_new ? "🚨NEW! " : '' %><%= big_spender.ad_archive_report_page.page_name %></h3>
		<h4>Paid for by <%= big_spender.ad_archive_report_page.disclaimer %> (<a href="<%= big_spender.ad_archive_report_page.ad_library_url %>">Ads on FB</a>)</h4>
		<p>Spent $<%= big_spender.spend_amount.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> in <%= big_spender.duration_days %> days</p>

		<%= text_area_tag :body, big_spender.writable_page&.notes, cols: 60, rows: 6, class: "onkeyupdelay", data: {page_id: big_spender.page_id, disclaimer: big_spender.ad_archive_report_page.disclaimer} %>
	</div>
<% end %>


